# Virtual environment
env/
venv/
.env/
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
env.bak/
venv.bak/

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
*.log
.DS_Store